<!-- NOTE FORM UPDATE CONTAINER-->
<form class="note__form" id="note__form--update" action="" method="POST">
    <h3>{{ form_update_title }}</h3>
    <h4>Add your description to your note. Add a title and place a finish date.</h4>
    <fieldset>
        <label for="title__update">Title <span>Required</span></label>
        <input id="title__update" value="{{ title }}" placeholder="Add a note" type="text" name="title__update"
            tabindex="5" maxlength="100" required autofocus>
    </fieldset>

    <fieldset>
        <label for="description__update">Description</label>
        <textarea id="description__update" placeholder="Type your message here...." name="description__update"
            tabindex="6" maxlength="500" required>{{ description }}</textarea>
    </fieldset>

    <fieldset>
        <label for="expire__update">Expire <span>Required</span></label>
        <input id="expire__update" value="{{ expire }}" placeholder="dd-mm-yyyy" type="date" name="expire__update"
            tabindex="7" required>
    </fieldset>

    <fieldset>
        <label for="importance__update">Importance <span>Required</span></label>
        <select id="importance__update" name="importance__update" tabindex="8">
            <option selected="selected">Choose importance</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </fieldset>

    <fieldset>
        <input id="note__updateId" value="{{ noteId }}" type="hidden">

        <input id="note__updateIndex" value="{{ dataIndex }}" type="hidden">

        <div class="form__buttons">
            <button name="clear" type="reset" id="clear__update">Cancel</button>
            <button name="submit" type="submit" id="submit__update">Update</button>
        </div>
    </fieldset>

    <p class="copyright">CAS-FEE-2020 - Project 1</p>
</form>
<!-- END FORM START -->